.App {
  min-height: 100vh;
  text-align: center;
}

section {
  position: relative;
}

/* Class for hovering and clicking on elements */

.option {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.option:hover {
  transform: scale(1.05, 1.05)
}

.option:active {
  transform: scale(0.95, 0.95)
}

/* Menu */

#menuContainer {
  width: 80%;
  margin: 0 auto;
}

#menuItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menuItem {
  width: 30%;
  height: 100px;
  background-color: black;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Characters */

.expandable {
  width: 80%;
  margin: 0 auto;
}

.expandable:not(:last-child) {
  margin-bottom: 50px;
}

.dropdown {
  width: 100%;
  background-color: #4d4d4d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
}

.dropdown button {
  position: absolute;
  right: 20px;
}

.speciesContainer {
  width: 100%;
}

.speciesContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.species {
  width: 20%;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Houses */

#houses {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#houseButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* HouseButton */

.houseButton {
  width: auto;
  height: 40vh;
  margin: 20px;
}

.houseButton img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* Sorting Hat */

#sortingHatResult {
  width: 40%;
  height: 50vh;
  margin: 20px auto;
}

#sortingHatResult img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Character Details */

.characterDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.characterDetails {
  width: 30%;
  height: 50vh;
  background-color: black;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterDetails p {
  text-align: left
}

/* Back Button */

.topbar {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right: 30px solid black; 
  margin-right: 20px;
}


