.App {
  min-height: 100vh;
  text-align: center;
}

/* Class for hovering and clicking on elements */

.option {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.option:hover {
  transform: scale(1.05, 1.05)
}

.option:active {
  transform: scale(0.95, 0.95)
}

/* Menu */

#menuContainer {
  width: 80%;
  margin: 0 auto;
}

#menuItemContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menuItem {
  width: 30%;
  height: 100px;
  background-color: black;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


